<ion-view view-title="{{name | uppercase}} {{lastname |uppercase}}">
  <ion-content>
    <ion-list>
    	<ion-item type="item-text-wrap" type="item-text-wrap">
				<div class="list">
					<img ng-src="{{avatar}}">
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Age : </span>
				    <input type="text" value="{{age}} ans" disabled>
				  </label>
				   <label class="item item-input item-stacked-label">
				    <span class="input-label">Motto : </span>
				    <input type="text" value="{{motto}}" disabled>
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Adresse : </span>
				    <input type="text" value="{{adress}}" disabled>
				  </label>
				   <label class="item item-input item-stacked-label">
				    <span class="input-label">Téléphone : </span>
				    <input type="text" value="{{phone}}" disabled>
				  </label>
				   <label class="item item-input item-stacked-label">
				    <span class="input-label">Latitude : </span>
				    <input type="text" value="{{latitude}}" disabled>
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Longitude : </span>
				    <input type="text" value="{{longitude}}" disabled>
				  </label>
				  <button class="button button-full button-calm" ng-click="modif()">Modifier</button>
				</div>
		</ion-item>
    </ion-list>
  </ion-content>
</ion-view>


<!--        if ($stateParams.profilId == localStorage.getItem('id')){
          $scope.test = true;
        } -->